@model Projet_Serre.Models.ApercuViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    @if (Model.IdProfilActuel <= 0)
    {
        <h2>Aucun profil sélectionné.</h2>
        <a class="btn btn-default" href="@Url.Action("Index", "Profil")">Choisir un profil</a>
    }
    else
    {
        <h2>Profil actuel : <a href="@Url.Action("Details", "Profil", new { Id=Model.IdProfilActuel })"><strong>@Model.NomProfilActuel</strong></a></h2>
    }
</div>

<div class="row text-center">
    <div class="col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading container-fluid">
                @if (!Model.NomProfilActuel.IsEmpty())
                {
                    <div class="row">
                        <div class="col-md-6">
                            Temperature mesurée :
                        </div>
                        <div class="col-md-6">
                            Temperature cible :
                        </div>
                    </div>
                }
                else
                {
                    @:Temperature mesurée :
                }
            </div>
            <div class="panel-body container-fluid">
                @if (!Model.NomProfilActuel.IsEmpty())
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="huge">@Model.TemperatureCapteur°</div>
                        </div>
                        <div class="col-md-6">
                            <div class="huge">@Model.TemperatureProfil°</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="huge">@Model.TemperatureCapteur°</div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading container-fluid">
                @if (!Model.NomProfilActuel.IsEmpty())
                {
                    <div class="row">
                        <div class="col-md-6">
                            Humidité mesurée :
                        </div>
                        <div class="col-md-6">
                            Humidité cible :
                        </div>
                    </div>
                }
                else
                {
                    @:Humidité mesurée :
                }
            </div>
            <div class="panel-body">
                @if (!Model.NomProfilActuel.IsEmpty())
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="huge">@Model.HumiditeCapteur%</div>
                        </div>

                        <div class="col-md-6">
                            <div class="huge">@Model.HumiditeProfil%</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="huge">@Model.HumiditeCapteur%</div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Lumière mesurée :
            </div>
            <div class="panel-body">
                <div class="huge">@Model.LumiereCapteur lx</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                Vent mesuré :
            </div>
            <div class="panel-body">
                <div class="huge">@Model.VentCapteur km/h</div>
            </div>
        </div>
    </div>
    <div>
        <em>Mesures faite à @Model.DateDerniereMaJ</em>
    </div>
</div>