@model Projet_Serre.Models.ApercuViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    @if (Model.IdProfilActuel > 0)
    {
        <h2>Profil actuel : <a href="@Url.Action("Details", "Profil", new { Id=Model.IdProfilActuel })"><strong>@Model.NomProfilActuel</strong></a></h2>
        <h3>
            Jour @Model.NombreDeJours - 
            <a class="btn btn-default stop-link" href="@Url.Action("Stop", "Profil")">Arrêter la régulation</a>
        </h3>
    }
    else
    {
        <h2>Aucun profil sélectionné.</h2>
        <a class="btn btn-default" href="@Url.Action("Index", "Profil")">Choisir un profil</a>
    }
</div>

<div class="row text-center">
    <div class="col-md-12">
        <div class="panel panel-red">
            <div class="panel-heading container-fluid">
                @if (Model.IdProfilActuel > 0)
                {
                    <div class="row">
                        <div class="col-md-4">
                            Temperature interieur mesurée :
                        </div>
                        <div class="col-md-4">
                            Temperature interieur cible :
                        </div>
                        <div class="col-md-4">
                            Temperature exterieur :
                        </div>
                    </div>
                }
                else
                {
                    @:Temperature mesurée :
                }
            </div>
            <div class="panel-body container-fluid">
                @if (Model.IdProfilActuel > 0)
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="huge">@Model.TemperatureInterieurCapteur°C</div>
                        </div>
                        <div class="col-md-4">
                            <div class="huge">@Model.TemperatureInterieurProfil°C</div>
                        </div>
                        <div class="col-md-4">
                            <div class="huge">@Model.TemperatureExterieurCapteur°C</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="huge">@Model.TemperatureInterieurCapteur°C</div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading container-fluid">
                @if (Model.IdProfilActuel > 0)
                {
                    <div class="row">
                        <div class="col-md-6">
                            Humidité mesurée :
                        </div>
                        <div class="col-md-6">
                            Humidité cible :
                        </div>
                    </div>
                }
                else
                {
                    @:Humidité mesurée :
                }
            </div>
            <div class="panel-body">
                @if (Model.IdProfilActuel > 0)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="huge">@Model.HumiditeCapteur%</div>
                        </div>
                        <div class="col-md-6">
                            <div class="huge">@Model.HumiditeProfil%</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="huge">@Model.HumiditeCapteur%</div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Lumière mesurée :
            </div>
            <div class="panel-body">
                <div class="huge">@Model.LumiereCapteur lx</div>
            </div>
        </div>
    </div>
    <div>
        <em>Mesures faite à @Model.DateDerniereMaJ</em>
    </div>
</div>

<div id="stop-dialog" title="Confirmation" hidden>
    <p>Voulez vous vraiment arrêter la régulation automatique de la serre?</p>
    <p>La date de semis du profil actif sera perdu!</p>
</div>

@section scripts{
    <script>
        var linkObj;
        $(".stop-link").click(function () {
            linkObj = $(this);
            $("#stop-dialog").dialog('open');
            return false;
        });
        
        $('#stop-dialog').dialog({
            autoOpen: false, width: 400, resizable: false, modal: true,
            buttons: {
                "Continuer": function () {
                    $.post(linkObj[0].href,
                        {},
                        function (status) {
                            if (status == '@Boolean.TrueString') {
                                location.reload();
                                $(this).dialog("close");
                            }
                            else {
                                //TODO
                            }
                        });
                },
                "Annuler": function () {
                    $(this).dialog("close");
                }
            }
        });
    </script>
}