@model Projet_Serre.Models.ListProfilViewModel
@{
    ViewBag.Title = "Profils";
}

<div class="jumbotron text-center">
    @if (Model.IdProfilActuel > 0)
    {
        <h2>Profil actuel : <a href="@Url.Action("Details", "Profil", new { Id=Model.IdProfilActuel })"><strong>@Model.NomProfilActuel</strong></a></h2>
    }
    else
    {
        <h2>Aucun profil sélectionné.</h2>
    }
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Projet_Serre.Models.ProfilViewModel p in @Model.Profils)
        {
            <tr>
                <th><a href="@Url.Action("Details", "Profil", new { p.Id })">@p.Nom</a></th>
                <th>
                    <a class="btn btn-primary btn-xs select-link" href="@Url.Action("Select", "Profil", new { p.Id })">Selectionner</a>
                    <a class="btn btn-warning btn-xs" href="@Url.Action("Edit", "Profil", new { p.Id })">Renommer</a>
                    <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", "Profil", new { p.Id })">Supprimer</a>
                </th>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" href="@Url.Action("Create", "Profil")">Ajouter un profil</a>

<div id="select-dialog" title="Confirmation">
    <p>Sélectionnez la date de semis : <input type="text" id="datepicker"></p>
</div>		

@section scripts{
    <script>
        $(function () {
            $.datepicker.regional.fr = {
                closeText: "Fermer",
                prevText: "Précédent",
                nextText: "Suivant",
                currentText: "Aujourd'hui",
                monthNames: ["janvier", "février", "mars", "avril", "mai", "juin",
                    "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthNamesShort: ["janv.", "févr.", "mars", "avr.", "mai", "juin",
                    "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                dayNames: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                dayNamesShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                dayNamesMin: ["D", "L", "M", "M", "J", "V", "S"],
                weekHeader: "Sem.",
                dateFormat: "dd/mm/yy",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ""
            };

            var selectLinkObj;
            $(".select-link").click(function () {
                selectLinkObj = $(this);
                $("#select-dialog").dialog('open');
                return false;
            });

            $.datepicker.setDefaults(
              $.extend(
                { 'dateFormat': 'dd/mm/yy' },
                $.datepicker.regional.fr
              )
            );
            $("#datepicker").datepicker();
            $('#select-dialog').dialog({
                autoOpen: false, width: 400, resizable: false, modal: true,
                buttons: {
                    "Continuer": function () {
                        $.post(selectLinkObj[0].href,
                            { date: $("#datepicker").val() },
                            function (status) {
                                if (status == '@Boolean.TrueString') {
                                    location.reload();
                                }
                                else {
                                    //
                                }
                            });
                        $(this).dialog("close");
                    },
                    "Annuler": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}